PORT=4000
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres:CdsbshjvbSBDjbsdbKBDKBkjdbfsdbKJB@reseau.proxy.rlwy.net:53340/railway"
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CRON_SECRET=
